<br>
<div class="container">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container">
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/orthopedics">Orthopedics</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/measurements">Measurements</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/breath-easy">Breath Easy</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-warning" routerLink="/surgical-accessories">Sergical Accessories</button>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">D</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/d/y/dynamic-dyna-arm-sling-pouch-1610-child-408006765.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Dynamic Dyna Arm Sling Pouch (1610)</h3>
                    <p>₹276.25</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/d/y/dynamic-dyna-clavicle-brace-1401-child-407975413.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Dynamic Dyna Clavicle Brace (1401) (Child)</h3>
                    <p>₹323.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/d/y/dynamic-dyna-innolife-clavicle-brace-1405-l-407988400.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Dynamic Dyna Innolife Clavicle Brace (1405) (L)</h3>
                    <p>₹471.75</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/d/y/dynamic-top-ban-cast-padding-15cm-4125-004-408125705.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Dynamic Top Ban Cast Padding 15 cm (4125-004)</h3>
                    <p>₹70.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/d/y/dynamic-dyna-wrist-splint-left-1640-s-414186700.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Dynamic Dyna Wrist Splint Left (1640) (S)</h3>
                    <p>₹267.75</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/d/y/dynamic-relaxzon-therapeutic-support-pillow-1100-004-one-size-fits-all-1-s-412625445.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Dynamic Relaxzon Therapeutic Support Pillow (1100-004)</h3>
                    <p>₹1,037.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">N</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/n/e/newnik-cool-pack-ice-bag-ic900--blue--858226930.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Newnik Cool Pack/Ice Bag (IC900) - Blue</h3>
                    <p>₹162.50</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">T</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/t/y/tynor-knee-wrap-neoprene-spl-size-j-05-407690248.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Tynor Knee Wrap (Neoprene) (Spl. Size) (J 05)</h3>
                    <p>₹860.80</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">U</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/u/n/unisoft-anklet-silky-s-15656946.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Unisoft Anklet Silky (S)</h3>
                    <p>₹136.50</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">W</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/w/e/wellon-taylor-brace-m-1-s-827577310.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Wellon Taylor Brace (M)</h3>
                    <p>₹1,249.50</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>