<br>
<div class="container">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container">
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/allopathy">Allopathy</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/ayurvedic">Ayurvedic</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/bodycare">Body Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-warning" routerLink="/elderycare">Eldery Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger" routerLink="/haircare">Hair Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/homeopathy">Homeopathy</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/mothercare">Mother Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/skincare">Skin Care</button>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">A</button>
                <img src="https://s3-us-west-2.amazonaws.com/ayurveda-cart-images/images/41eef775-795d-4061-8eb5-e46f9ac59392-medium.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Abhaya Vati</h3>
                    <p>₹123</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://5.imimg.com/data5/IB/GM/MY-94262/ashwagandha-patrachurna-500x500.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Ashwagandha Churna</h3>
                    <p>₹120</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">B</button>
                <img src="https://ayurvedapc.files.wordpress.com/2019/03/bipasil-ayurvedaforall.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Bipasil Tablets</h3>
                    <p>₹130</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://4.imimg.com/data4/EI/AC/MY-2589393/brahmi-ghrita-500x500.png" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Brahmi Ghrita</h3>
                    <p>₹130</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">C</button>
                <img src="https://www.baidyanath.com/wp-content/uploads/2018/02/CHANDANBALA-LAXADI-TEL-50-ml-PNG-3.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Chandanbala laxadi oil</h3>
                    <p>₹125</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.abhinavayu.com/wp-content/uploads/2017/11/colocare-tablet.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Colocare tablets</h3>
                    <p>₹250</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">D</button>
                <img src="https://cdn.shopify.com/s/files/1/0055/9064/6857/products/dantiharitaki-leham_1200x1200.jpg?v=1563607333"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Danti Haritaki</h3>
                    <p>₹320</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">E</button>
                <img src="https://imagex.kartrocket.com/image_byasalajihealthtech/data/eladi_bati.png?imgeng=/w_600/h_500"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Eladi Vati</h3>
                    <p>₹123</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">F</button>
                <img src="https://5.imimg.com/data5/YS/PH/MY-38736910/femilon-tablet-500x500.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>FemlinTablet</h3>
                    <p>₹250</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">G</button>
                <img src="https://www.rajved.in/image/cache/ABC/IMG_20180522_145819-800x800.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Gojihwadi Kashaya</h3>
                    <p>₹125</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>