<br>
<div class="container">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container">
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/allopathy">Allopathy</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/ayurvedic">Ayurvedic</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/bodycare">Body Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-warning" routerLink="/elderycare">Eldery Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger" routerLink="/haircare">Hair Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/homeopathy">Homeopathy</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/mothercare">Mother Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/skincare">Skin Care</button>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">B</button>
                <img src="https://images-na.ssl-images-amazon.com/images/I/512GsSTNAwL._SX466_.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Baby Nappy Cream</h3>
                    <p>₹379</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61tCdSB41NL._SX466_.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Baby Body Wash</h3>
                    <p>₹1057</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">E</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/e/s/essentium-vittum-ultra-capsules-60-s-823158876.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Essentium Vittum Ultra Capsules 60's</h3>
                    <p>₹1,274.15</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/e/n/ensure-vanilla-powder-400gm-369380274.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Ensure Vanilla Powder 400 gm (Pet Jar)</h3>
                    <p>₹520.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">F</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/d/r/dr-vaidyas-herbobliss-female-sexual-wellness-capsules-30s-857404884.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Female Sexual Wellness Capsules 30's</h3>
                    <p>₹400.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">G</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/g/n/gnc-melatonin-tab-3mg-120-s-16031646.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>GNC Melatonin Tablets 120's</h3>
                    <p>₹1,826.65</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">M</button>
                <img src="https://www.schwabeindia.com/6404-large_default/melissa-mt.jpg" width="200px" height="200px">
                <div class="caption">
                    <h3>MELISSA MT</h3>
                    <p>₹355</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://images-na.ssl-images-amazon.com/images/I/614L0lKxrOL._SX425_.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Mothercare Baby Lotion Pack of 3</h3>
                    <p>₹1081</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">S</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/s/t/stay-on-oral-liquid-30ml-803862134.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Stay-On Oral Liquid 30 ml</h3>
                    <p>₹179.10</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">W</button>
                <img src="https://mamaearth.in/wp-content/uploads/2019/10/Baby-Combo1080x1080.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Welcome Baby Essential Kit</h3>
                    <p>₹999.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>