<br />
<div class="container">
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
    </span>
  </div><!-- /input-group -->
</div>

<br />
<!-- Carousel -->
<div id="carousal-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousal-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousal-example-generic" data-slide-to="1"></li>
    <li data-target="#carousal-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img
        src="http://nusmedicine.nus.edu.sg/newsletter/issue27/images/issue27/WebArticle/FamilyMedicine/FMTraining/ArticlePage_AllintheFamily_NextGen-1.png"
        alt="First slide">
    </div>

    <div class="item">
      <img src="https://www.thegreendoctors.com/templates/images/green-doctors-banner-new.jpg" alt="Second slide">
    </div>

    <div class="item">
      <img src="https://media.mehrnews.com/d/2019/02/26/4/3058681.jpg" alt="Third slide">
    </div>
  </div>

  <a class="left carousel-control" href="#carousal-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="right carousel-control" href="#carousal-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- carousel end -->

<!-- START THE FEATURETTES -->
<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">We deliver Medicines all over Bangalore. <span class="text-muted">Explore!</span>
      </h2>
      <p class="lead">Our main goal is to provide our service all over the bangalore rural as well as urban.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block"
        src="https://media.wired.com/photos/5a6a61938c669c70314b300d/master/pass/Google-Map-US_10.jpg"
        alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">We Provide Great Offers. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">We try to provide wide range of offers and deals for the delivery of best service.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block"
        src="https://www.goomo.com/cmsimages/default-source/global-offer-page/res_mobileofferspage_banner.png"
        alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Delivery Will be on Time. <span class="text-muted"></span></h2>
      <p class="lead">We value your time and understand how precious it is. So Delivery in time is one of our top
        priority.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block"
        src="https://homeservicemillionaire.com/wp-content/uploads/2019/04/stopwatch-3216241__340.png"
        alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>
<!-- /END THE FEATURETTES -->

<br><br>
<div class="container">
  <div class="list-group">
    <ul class="list-group">
      <h3>Health Facts</h3>
      <li class="list-group-item list-group-item-success">Around the world, cardiovascular diseases are the leading
        cause of death. They account for approximately 30 percent of all deaths. At least 80 percent of these deaths
        that occur prematurely could be prevented by adhering to a healthy diet, getting regular physical activity and
        avoiding use of tobacco products.</li>
      <li class="list-group-item list-group-item-info">Improving sanitation, water supply, personal hygiene and
        management of water resources could prevent nearly 10 percent of diseases and 6.3 percent of all deaths around
        the world.</li>
      <li class="list-group-item list-group-item-warning">Currently, approximately 6.6 million children under the age of
        5 die annually. By the year 2025, it is estimated that there will still be five million deaths among this age
        group. Ninety-seven percent of these deaths will occur in developing countries, and most will be a result of
        infectious diseases like pneumonia and diarrhea or malnutrition.</li>
      <li class="list-group-item list-group-item-danger">Sixty-five percent of people around the world live in a country
        where overweight and obesity kills more people than underweight.</li>
    </ul>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">It is estimated that 39.5 million people worldwide are
        living with HIV or AIDS. Sub-Saharan Africa accounts for about 70 percent of the cases.</a>
      <a href="#" class="list-group-item list-group-item-info">There are about 200 million women around the world who do
        not have access to effective family planning methods, like reproductive information and care services, despite
        the desire to use these resources. If these resources can be more widely accessed, unplanned pregnancy rates
        would drop, unsafe abortions would become less frequent and maternal and infant deaths would be reduced
        significantly.</a>
      <a href="#" class="list-group-item list-group-item-warning">Preterm birth, birth before 37 weeks of pregnancy, is
        the most common cause of infant mortality globally. Fifteen million babies are born preterm every year and more
        than one million of them will die.</a>
      <a href="#" class="list-group-item list-group-item-danger">The global average life expectancy has increased
        significantly over the past 20 years. The overall average is now 70 years; in low-income countries it is 62 and
        in high-income countries it is 79.</a>
    </div>
  </div>
</div>