<br>
<div class="container">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container">
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/allopathy">Allopathy</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/ayurvedic">Ayurvedic</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/bodycare">Body Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-warning" routerLink="/elderycare">Eldery Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger" routerLink="/haircare">Hair Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/homeopathy">Homeopathy</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/mothercare">Mother Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/skincare">Skin Care</button>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">A</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/57453768b1c789093496adaa9e415a9d/a/d/adven-sporid-drops-30-ml-830878267.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Adven Sporid Drop</h3>
                    <p>₹143</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://static.oxinis.com/healthmug/image/product/7308-1-1000.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Adven Glow-Aid Drop</h3>
                    <p>₹119</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://i0.wp.com/homeomart.net/wp-content/uploads/2017/11/Allen-A78-Chronic-Anxiety-Homeopathic-Drops.jpg?fit=400%2C400&ssl=1"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Allen A78 Chronic Anxiety Drop</h3>
                    <p>₹138</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://res.cloudinary.com/du8msdgbj/images/a_ignore,w_240,h_240,c_fit,q_auto,f_auto/v1540271989/rjw7g14lyc7owjgazoom/add-platelets-capsule.png"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Add Platelets Capsule</h3>
                    <p>₹1539</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">B</button>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5N-fD9fwJz8YJVk_EQV4D_guFQWHr9zr2lTkqRHf50BboHWoK6A"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Bakson's B23 Skin Drop</h3>
                    <p>₹134</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">D</button>
                <img src="https://3.imimg.com/data3/OL/MD/MY-4555060/20141207_183952-500x500.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Dhootapapeshwar Rasarajeshwar Rasa</h3>
                    <p>₹745</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">E</button>
                <img src="https://greatideas.r.worldssl.net/media/catalog/product/cache/1/image/736x460/9df78eab33525d08d6e5fb8d27136e95/e/n/energast.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Energest Capsule</h3>
                    <p>₹380</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">H</button>
                <img src="https://images-na.ssl-images-amazon.com/images/I/71sYNSLpsyL._SY679_.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Hamdard Jawarish Jalinus</h3>
                    <p>₹190</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">S</button>
                <img src="https://assets.lybrate.com/q_auto,f_auto,w_250,h_250,c_fill,g_auto/img/otc/product/sbl-natrum-muriatica-biochemic-tablet-200x-0"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>SBL Natrum Muriatica Biochemic Tablet 200X</h3>
                    <p>₹86</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">S</button>
                <img src="https://assets.lybrate.com/q_auto,f_auto,w_250,h_250,c_fill,g_auto/img/otc/product/sbl-tonicard-gold-drop-0"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>SBL Tonicard Gold Drop</h3>
                    <p>₹307</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>