<br>
<div class="container">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container">
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/family-nutrition">Family Nutrition</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/hfd">Health Food & Drinks</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/health-supplements">Health Supplements</button>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">A</button>
                <img src="https://4.imimg.com/data4/GL/VJ/MY-3145531/platelets-enhancer-capsules-500x500.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Add Platelets Capsule</h3>
                    <p>₹1620</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">E</button>
                <img src="https://assetscdn1.paytm.com/images/catalog/product/F/FA/FASENSURE-CHOCOBIGB9858322362A3E9/1561501102597_0.jpg?imwidth=320&impolicy=hq"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Ensure Chocolate Flavour, BIB, 200 g</h3>
                    <p>₹265</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">H</button>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9kHC-Zh3GFPj5umNBHu2zAtTb_T6CpvIIV75asBdJhUAiFk20"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Horlicks Health Drink</h3>
                    <p>₹275</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">M</button>
                <img src="https://res.cloudinary.com/du8msdgbj/images/w_200,h_200,c_fit,q_auto,f_auto/v1529325426/tfviwrdmfqxpgtj1jwei/minmin-tonic.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Minmin Tonic</h3>
                    <p>₹130</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://images-na.ssl-images-amazon.com/images/I/715bVJ899XL._SX466_.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>MuscleBlaze Isotonic Instant Energy Formula, 2.2 lb Watermelon</h3>
                    <p>₹449</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">O</button>
                <img src="https://s3.images-iherb.com/now/now06921/w/7.jpg" width="200px" height="200px">
                <div class="caption">
                    <h3>Organic Erythritol, 1 lb (454 g)</h3>
                    <p>₹639.87</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">P</button>
                <img src="https://images-na.ssl-images-amazon.com/images/I/71FhNgFNNoL._SX355_.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Peglec Powder</h3>
                    <p>₹312</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">R</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/57453768b1c789093496adaa9e415a9d/r/e/relaxium-capsule-10-s-411091553.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Relaxium Lactium Capsule</h3>
                    <p>₹259</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">S</button>
                <img src="https://images-na.ssl-images-amazon.com/images/I/51lHLjzGmGL._SX492_BO1,204,203,200_.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Sattvik Foods of India</h3>
                    <p>₹250.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">Y</button>
                <img src="https://images-na.ssl-images-amazon.com/images/I/41-WgiU3AvL.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Yakult Probiotic Health Drink</h3>
                    <p>₹60</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>