<br>
<div class="container">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container">
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/allopathy">Allopathy</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/ayurvedic">Ayurvedic</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/bodycare">Body Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-warning" routerLink="/elderycare">Eldery Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger" routerLink="/haircare">Hair Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/homeopathy">Homeopathy</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/mothercare">Mother Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/skincare">Skin Care</button>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">A</button>
                <img src="https://res.cloudinary.com/du8msdgbj/images/a_ignore,w_240,h_240,c_fit,q_auto,f_auto/v1554114477/u0xywf3ntaplticcoial/adril-lotion.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Adril Lotion 100ml</h3>
                    <p>₹171.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://s3.images-iherb.com/alo/alo40010/l/7.jpg" width="200px" height="200px">
                <div class="caption">
                    <h3>All One Active Seniors Unflavored - 2.2</h3>
                    <p>₹6,597.48</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://res.cloudinary.com/du8msdgbj/images/a_ignore,c_fit,q_auto,f_auto/v1537729867/ncva1udy8czygipflvxe/aptivate-syrup.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Aptivate Syrup</h3>
                    <p>₹97</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51O8z%2BgWMkL._SX325_BO1,204,203,200_.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>An Introduction to Geriatrics</h3>
                    <p>₹165</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">D</button>
                <img src="https://static.oxinis.com/healthmug/image/product/56221-1-400.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Dr. Vaidyas Senior Citizen Pack</h3>
                    <p>₹776</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">H</button>
                <img src="https://res.cloudinary.com/du8msdgbj/images/l_watermark_346,w_240,h_240/a_ignore,w_240,h_240,c_fit,q_auto,f_auto/v1531402790/hxvnhld8qzixjqrvwpm2/hepa-merz-granules.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Hepa Merz Granules</h3>
                    <p>₹178.4</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">J</button>
                <img src="https://rukminim1.flixcart.com/image/416/416/jbqtqq80/door-window-alarm/r/y/h/panic-alarm-for-elderly-battery-operated-safety-alarm-with-original-imaezyc8pu3avxma.jpeg?q=70"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Juvo Non-monitored Personal Security Alarm</h3>
                    <p>₹1,090</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">N</button>
                <img src="https://ompharmaayur.com/wp-content/uploads/2017/09/NIROGAM-AVD-600x600.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Nirogam AVD</h3>
                    <p>₹660.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">O</button>
                <img src="https://static.oxinis.com/healthmug/image/product/2509-2-400.jpg" width="200px"
                    height="200px">
                <div class="caption">
                    <h3>Organic India Prostate Care Capsules (60caps)</h3>
                    <p>₹225</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">P</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/thumbnail/150x150/9a2609fca8cac208dcee186c29121b9f/p/y/pyrigesic-1gm-tablet-10-s-384147666.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Pyrigesic 1gm Tablet 10'S</h3>
                    <p>₹27.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>