<br>
<div class="container">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container">
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/home-care">Home Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/sexual-wellness">Sexual Wellness</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/smoking-cessation">Smoking Cessation</button>
    </div>
    <br><br />
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/a/l/alcoban-drops-150-ml-858202509.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Alcoban</h3>
                    <p>₹3,240.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/b/a/bakson-s-go-tox-drops-60-ml-831387167.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Bakson's Go Tox Drops 60 ml</h3>
                    <p>₹88.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/i/n/inventz-nicomeltz-instamelt-nicotine-release-2mg-strips-12-s-812779475.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Inventz Nicomeltz Instamelt Nicotine Release 2 mg Strips 12's</h3>
                    <p>₹54.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/k/w/kwiknic-mint-flavour-2mg-chew-gum-tablet-5x10-s-801329355.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Kwiknic Mint Flavour 2 mg Chew Gum Tablet 5 x 10's</h3>
                    <p>₹237.50</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/k/w/kwiknic-paan-flavour-2mg-chew-gum-tablet-10-s-356435819.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Kwiknic Paan Flavour 2 mg Chew Gum Tablet 10's</h3>
                    <p>₹47.50</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/n/i/nicotex-mint-plus-flavour-2mg-chew-gum-tablet-25-s-410416125.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Nicotex Mint Plus Flavour 2 mg Chew Gum Tablet 25's</h3>
                    <p>₹152.10</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/n/i/nicotex-paan-flavour-2mg-chew-gum-tablet-9-s-404234995.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Nicotex Paan Flavour 2 mg Chew Gum Tablet 9's</h3>
                    <p>₹63.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/n/i/nixit-nicotine-lozenges-2-mg-pack-of-7-x-10s-848124458.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Nixit Nicotine Lozenges 2 mg</h3>
                    <p>₹595.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">W</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/w/h/wheezal-de-toxin-drops-30-ml-832465901.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Wheezal De-Toxin Drops 30 ml</h3>
                    <p>₹97.75</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <button class="btn btn-primary">Z</button>
                <img src="https://www.netmeds.com/pub/media/catalog/product/cache/image/240x240/57453768b1c789093496adaa9e415a9d/z/i/ziminta-sugar-free-mouth-freshener-strip-mint-flavour-pack-of-4-30-s-30-s-848098285.jpg"
                    width="200px" height="200px">
                <div class="caption">
                    <h3>Ziminta Sugar Free Mouth Freshener Strip - Mint Flavour (Pack of 4 x 30's)</h3>
                    <p>₹500.00</p>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</button> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>