<br><br>
<div class="container">
    <div class="well col-md-4">
        <form>
            <div class="form-group">
                <label for="fname"> First Name </label>
                <input type="text" id="fname" class="form-control" placeholder="First Name">   
            </div>
            <div class="form-group">
                <label for="lname"> Last Name </label>
                <input type="text" id="lname" class="form-control" placeholder="Last Name">   
            </div>
        
            <div class="form-group">
                <label for="email"> Email </label>
                <input type="email" id="ename" class="form-control" placeholder="email">   
            </div>
                        
            <div class="form-group">
                <label for="cemail">Confirm Email </label>
                <input type="email" id="cname" class="form-control" placeholder="email">   
            </div>
        
            <div class="from-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Password">
            </div>
        
            <div class="form-group"><br>
                <button class="btn btn-primary"> Sign-up </button>
            </div>
        </form>
    </div>
</div>