<br>
<div class="container">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container">
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/home-care">Home Care</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/sexual-wellness">Sexual Wellness</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/smoking-cessation">Smoking Cessation</button>
    </div>
</div>
<br><br />
<div>
    <img alt="Brand" src="https://www.nyoooz.com/uploads/hindi/nyoooz-images/is_171108_lifestyle_choices_800x600.jpg"
        width="100%" height="50%">
</div>

<div class="container">
    <div class="list-group">
        <ul class="list-group">
            <h3>Lifestyle Facts</h3>
            <li class="list-group-item list-group-item-success">More than 1/3 of adults and over 12.5 million children
                and teens in the US are obese. In the last 30 years, obesity in children and teens has nearly tripled.
            </li>
            <li class="list-group-item list-group-item-info">One can of soda contains 10 teaspoons of sugar and the
                average American adult drinks 500 cans of soda every year, estimating about 52 pounds of sugar consumed
                in soft drinks alone</li>
            <li class="list-group-item list-group-item-warning">Excess meat consumption is bad for the planet, for our
                health, and for the well-being of animals. Ask your school to host meatless Mondays in your cafeteria to
                keep meat consumption down.</li>
            <li class="list-group-item list-group-item-danger">Breakfast is the most important meal of the day because
                it feeds your body and mind with the necessary nutrients and energy to function throughout the day.
                Eating breakfast regularly will also help keep weight off because it gets your metabolism going.</li>
        </ul>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-success">Teens need 9+ hours of sleep per night for their
                bodies to function properly. Less than 1/3 of high school students in 2011 reported getting 8 or more
                hours of sleep per night.</a>
            <a href="#" class="list-group-item list-group-item-info">Physical activity like aerobic exercise (walking,
                running), muscle-strengthening (weight-lifting), bone-strengthening (jumping rope), and balance and
                stretching activities (yoga, pilates, dancing) are especially beneficial to a healthy body.</a>
            <a href="#" class="list-group-item list-group-item-warning">Foods that don't expire contain unnatural
                preservatives, additives, and chemicals that deteriorate your body. Focus instead on fruits, vegetables,
                lean meats, whole grains, low-fat dairies, and above all, moderation in whatever you eat.</a>
            <a href="#" class="list-group-item list-group-item-danger">The rate at which your body burns calories when
                you are resting is called your "resting metabolic rate." If you cut calories below what's needed for
                RMR, your body will go into survival mode because it doesn't have the energy to perform basic
                functions.</a>
            <a href="#" class="list-group-item list-group-item-dafault">For teens, the recommended caloric intake is
                2,100 calories, but it is important to base your diet on your level of physical activity. Depending on
                how active you are, you can determine how many daily calories are healthy for your weight and
                lifestyle.</a>
        </div>
    </div>
</div>