<br>
<div class="navbar-header">
  <img style="float:left;" alt="Brand" src="https://www.freepnglogos.com/uploads/medicine-logo-png-1.png" width="50px" height="70px">
  <a class="navbar-brand" href="#"><h2><b>Remédio </b></h2></a>
</div>

<div id="navbar" class=" navbar-collapsecollapse"> 
  <ul class="nav navbar-nav pull-right">
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-user" routerLink="/login" aria-hidden="true"></span>
    </button>&nbsp;
    <!-- <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-earphone" routerLink="/contact" aria-hidden="true"></span> 
    </button>&nbsp;-->
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-shopping-cart" routerLink="/cart" aria-hidden="true"></span>
    </button>
  </ul>
</div>