<br>
<div class="container">
        <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                        <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
                </span>
        </div><!-- /input-group -->
</div>

<div class="container">
        <br>
        <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" routerLink="/allopathy">Allopathy</button>
        </div>&nbsp;
        <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success" routerLink="/ayurvedic">Ayurvedic</button>
        </div>&nbsp;
        <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-info" routerLink="/bodycare">Body Care</button>
        </div>&nbsp;
        <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-warning" routerLink="/elderycare">Eldery Care</button>
        </div>&nbsp;
        <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-danger" routerLink="/haircare">Hair Care</button>
        </div>&nbsp;
        <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" routerLink="/homeopathy">Homeopathy</button>
        </div>&nbsp;
        <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success" routerLink="/mothercare">Mother Care</button>
        </div>&nbsp;
        <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-info" routerLink="/skincare">Skin Care</button>
        </div>
</div>

<div>
        <br>
        <img alt="Brand"
                src="https://flo.health/uploads/media/sulu-1230x-inset/02/972-pills%20on%20the%20blue%20background.jpg?v=1-0&inline=1"
                width="100%" height="80%">
</div>

<div class="container">
        <div class="list-group">
                <ul class="list-group">
                        <h3>Medicines Facts</h3>
                        <li class="list-group-item list-group-item-success">If you’re really hurting, you can ignore the
                                label and take more pills.</li>
                        <li class="list-group-item list-group-item-info">Once you feel better, you don’t have to keep
                                taking medication.</li>
                        <li class="list-group-item list-group-item-warning">Natural supplements are always a safer
                                choice.</li>
                        <li class="list-group-item list-group-item-danger">Antibiotics are the answer for every illness.
                        </li>
                </ul>
                <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-success">Your doctor doesn’t need to know
                                which vitamins you take.</a>
                        <a href="#" class="list-group-item list-group-item-info">It’s best to keep medication handy, by
                                the bathroom or kitchen sink.</a>
                        <a href="#" class="list-group-item list-group-item-warning">It doesn’t matter how you swallow a
                                pill as long as it gets where it needs to go.</a>
                </div>
        </div>
</div>