<br>
<div class="container">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container">
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" routerLink="/family-nutrition">Family Nutrition</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" routerLink="/hfd">Health Food & Drinks</button>
    </div>&nbsp;
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-info" routerLink="/health-supplements">Health Supplements</button>
    </div>
</div>

<div>
    <br>
    <img alt="Brand" src="https://i.assetzen.net/i/Wi4wHSBYYVi8/w:1185/h:626/q:70.jpg" width="100%" height="50%">
</div>

<div class="container">
    <div class="list-group">
        <ul class="list-group">
            <h3>Fitness Facts</h3>
            <li class="list-group-item list-group-item-success">Laughing is good for the heart and can increase blood
                flow by 20 percent.</li>
            <li class="list-group-item list-group-item-info">Your skin works hard. Not only is it the largest organ in
                the body, but it defends against disease and infection, regulates your temperature and aids in vitamin
                production.</li>
            <li class="list-group-item list-group-item-warning">Always look on the bright side: being an optimist can
                help you live longer.</li>
            <li class="list-group-item list-group-item-danger">Exercise will give you more energy, even when you’re
                tired.</li>
        </ul>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-success">Sitting and sleeping are great in moderation,
                but too much can increase your chances of an early death.</a>
            <a href="#" class="list-group-item list-group-item-info">A lack of exercise now causes as many deaths as
                smoking.</a>
            <a href="#" class="list-group-item list-group-item-warning">Less than 1% of Americans ride their bike to
                work, while 50% of Copenhagen residents bike to work or school.</a>
            <a href="#" class="list-group-item list-group-item-danger">Learning a new language or playing a musical
                instrument gives your brain a boost.</a>
        </div>
    </div>
</div>